.template {
    display: none;
    position: absolute;
}

.entity {
    display: block;
    position: absolute;
}

.entity.template {
    display: none;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}